.dent-picker {
  /* max-width: 65vw; */
  height: auto;
  aspect-ratio: 340 / 320;
  border-radius: 14px;
  position: relative;
  overflow: hidden;
}

.dent-picker img {
  width: 100%;
  height: auto;
}

.dent-picker .clear-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: #00000086;
}
.dent-picker .clear-btn:hover {
  background: #6e002a9d;
}

.dent-picker .circle {
  position: absolute;
  transform: translate(-50%, -50%);

  width: 18px;
  height: auto;
  aspect-ratio: 1;

  font-size: 0.65rem;
  line-height: 1;
  font-weight: 600;

  color: #000;
  background-color: #fff2;
  backdrop-filter: brightness(1.5) blur(2px);

  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.5s ease, color 0.25s ease, background 0.25s ease;
  transform: translate(-50%, -50%);
  transform-origin: center;
}
.dent-picker .circle:hover {
  background-color: #fff8;
  transform: translate(-50%, -50%) scale(1.25);
}

.dent-picker .circle:hover,
.dent-picker .circle-start,
.dent-picker .circle-end {
  z-index: 1;
}

.dent-picker .circle-start,
.dent-picker .circle-between,
.dent-picker .circle-end {
  color: #000;
  box-shadow: 0 0 0 1px inset #fff;
}

.dent-picker .circle-start,
.dent-picker .circle-end {
  background-color: #5dfdc0 !important;
}

.dent-picker .circle-between {
  background-color: #8ffbff88 !important;
}

.dent-picker .circle-select {
  background-color: #ff4b4b !important;
}

.dent-picker .circle:active {
  background-color: #fd5dc8 !important;
}

@media screen and (max-width: 480px) {
  .dent-picker .circle {
    width: 14px;
  }
}
